<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BDSIMP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.hnkjxy.test.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.anchor.web.InitServlet</servlet-class>
    <init-param>
      <param-name>driverClass</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <!-- <param-value>jdbc:mysql://127.0.0.1:3306/anchor_lz</param-value> -->
      <param-value>jdbc:mysql://127.0.0.1:3306/anchor</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>anchor</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>anchor</param-value>
    </init-param>
    <init-param>
      <param-name>DbName</param-name>
      <param-value>anchor</param-value>
    </init-param>
    <init-param>
      <param-name>DefaultPrjName</param-name>
      <param-value>lz</param-value>
    </init-param>
    <init-param>
      <param-name>serviceIP</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>servicePort</param-name>
      <param-value>25030</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/initservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.anchor.web.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myprojects</display-name>
    <servlet-name>myprojects</servlet-name>
    <servlet-class>com.anchor.web.myprojects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myprojects</servlet-name>
    <url-pattern>/myprojects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.anchor.web.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WarningInfoServlet</display-name>
    <servlet-name>WarningInfoServlet</servlet-name>
    <servlet-class>com.anchor.web.WarningInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarningInfoServlet</servlet-name>
    <url-pattern>/WarningInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemlogoServlet</display-name>
    <servlet-name>SystemlogoServlet</servlet-name>
    <servlet-class>com.anchor.web.SystemlogoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemlogoServlet</servlet-name>
    <url-pattern>/SystemlogoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointInfoServlet</display-name>
    <servlet-name>PointInfoServlet</servlet-name>
    <servlet-class>com.anchor.web.PointInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointInfoServlet</servlet-name>
    <url-pattern>/PointInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectUpdateServlet</display-name>
    <servlet-name>ProjectUpdateServlet</servlet-name>
    <servlet-class>com.anchor.web.ProjectUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectUpdateServlet</servlet-name>
    <url-pattern>/ProjectUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProject</display-name>
    <servlet-name>UserProject</servlet-name>
    <servlet-class>com.anchor.web.UserProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProject</servlet-name>
    <url-pattern>/UserProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectInfoServlet</display-name>
    <servlet-name>ProjectInfoServlet</servlet-name>
    <servlet-class>com.anchor.web.ProjectInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectInfoServlet</servlet-name>
    <url-pattern>/ProjectInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crackmeterResultServlet</display-name>
    <servlet-name>crackmeterResultServlet</servlet-name>
    <servlet-class>com.anchor.web.crackmeterResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crackmeterResultServlet</servlet-name>
    <url-pattern>/crackmeterResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UssResultSevrlet</display-name>
    <servlet-name>UssResultSevrlet</servlet-name>
    <servlet-class>com.anchor.web.UssResultSevrlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UssResultSevrlet</servlet-name>
    <url-pattern>/UssResultSevrlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonitorReportServlet</display-name>
    <servlet-name>MonitorReportServlet</servlet-name>
    <servlet-class>com.anchor.web.MonitorReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonitorReportServlet</servlet-name>
    <url-pattern>/MonitorReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompareDataServlet</display-name>
    <servlet-name>CompareDataServlet</servlet-name>
    <servlet-class>com.anchor.web.CompareDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompareDataServlet</servlet-name>
    <url-pattern>/CompareDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointAll</display-name>
    <servlet-name>PointAll</servlet-name>
    <servlet-class>com.anchor.web.PointAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointAll</servlet-name>
    <url-pattern>/PointAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IPIResultServlet</display-name>
    <servlet-name>IPIResultServlet</servlet-name>
    <servlet-class>com.anchor.web.IPIResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IPIResultServlet</servlet-name>
    <url-pattern>/IPIResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadcellResultServlet</display-name>
    <servlet-name>LoadcellResultServlet</servlet-name>
    <servlet-class>com.anchor.web.LoadcellResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadcellResultServlet</servlet-name>
    <url-pattern>/LoadcellResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LrdmResultServlet</display-name>
    <servlet-name>LrdmResultServlet</servlet-name>
    <servlet-class>com.anchor.web.LrdmResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LrdmResultServlet</servlet-name>
    <url-pattern>/LrdmResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>piezometerResultServlet</display-name>
    <servlet-name>piezometerResultServlet</servlet-name>
    <servlet-class>com.anchor.web.piezometerResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>piezometerResultServlet</servlet-name>
    <url-pattern>/piezometerResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrismResultSevrlet</display-name>
    <servlet-name>PrismResultSevrlet</servlet-name>
    <servlet-class>com.anchor.web.PrismResultSevrlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrismResultSevrlet</servlet-name>
    <url-pattern>/PrismResultSevrlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RainResultServlet</display-name>
    <servlet-name>RainResultServlet</servlet-name>
    <servlet-class>com.anchor.web.RainResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RainResultServlet</servlet-name>
    <url-pattern>/RainResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadProcessorServlet</display-name>
    <servlet-name>UploadProcessorServlet</servlet-name>
    <servlet-class>com.anchor.web.UploadProcessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadProcessorServlet</servlet-name>
    <url-pattern>/UploadProcessorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GNSSResultServlet</display-name>
    <servlet-name>GNSSResultServlet</servlet-name>
    <servlet-class>com.anchor.web.GNSSResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GNSSResultServlet</servlet-name>
    <url-pattern>/GNSSResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportInfoServlet</display-name>
    <servlet-name>ReportInfoServlet</servlet-name>
    <servlet-class>com.anchor.web.ReportInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportInfoServlet</servlet-name>
    <url-pattern>/ReportInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.anchor.web.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateinfo</display-name>
    <servlet-name>updateinfo</servlet-name>
    <servlet-class>com.anchor.web.updateinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateinfo</servlet-name>
    <url-pattern>/updateinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.anchor.web.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthImage</servlet-name>
    <servlet-class>com.anchor.web.AuthImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthImage</servlet-name>
    <url-pattern>/authImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MoniteSiteServlet</servlet-name>
    <servlet-class>com.anchor.web.MoniteSiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoniteSiteServlet</servlet-name>
    <url-pattern>/moniteSiteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuxiliaryServlet</servlet-name>
    <servlet-class>com.anchor.web.AuxiliaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuxiliaryServlet</servlet-name>
    <url-pattern>/auxiliaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WarningDialogServlet</servlet-name>
    <servlet-class>com.anchor.web.WarningDialogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarningDialogServlet</servlet-name>
    <url-pattern>/warningDialogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DismeterRecordServlet</servlet-name>
    <servlet-class>com.anchor.web.DismeterRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DismeterRecordServlet</servlet-name>
    <url-pattern>/dismeterRecordServlet</url-pattern>
  </servlet-mapping>
</web-app>